.ingredient{
    height: 20px;
    width: 300px;
    margin: 10px;
}

.bread-bottom, .bread-top{
    background-color: burlywood;
}
.meat{
    background-color: brown;
}
.cheese{
    background-color: yellow;
}
.bacon{
    background-color: salmon;
}
.salad{
    background-color: greenyellow;
}